body {
    font-family: sans-serif;
}
header{
    background-color: green;
    padding: 5px; 
}
.logo{
    text-align: center;
}
h2{
    text-align: center;
}

.kartink{
    
    width: 10px;
    
}
footer{
    background-color: black;
    color: white;
}
p{
    margin: 20px;
}
.mouse{
    width: 0.5px;
}
